
{% extends  "base.html"  %}
{% load static %}
{#{% load crispy_forms_tags %}#}
{% block form_media %}
{{ form.media }}
{% endblock form_media %}

{% block content %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('{% static 'img/post-sample-image.jpg' %}')">

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>Logout</h1>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <!--<div class="content-preview">-->
                <!--<h1>Preview</h1>-->
                <!--<h3 id="preview-title"></h3>-->
                <!--<p id="preview-content"> </p>-->
                <!--</div>-->
                <br><br>
                <p>You are now logged out!</p>
            </div>
        </div>
    </div>
</article>

<hr>


{% endblock content %}