
{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{% static 'img/post.jpg' %}')">

        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{play.title}}</h1>
                        <h2>Activity will happen on {{ play.time }}</h2>
                        <h3>Current participants:{{ play.num_of_participants }}</h3>
                        <span class="meta">Posted by <a href="#">{{ play.owner.get_username }}</a> on {{play.timestamp}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <hr>
    <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <form action="" method="POST">
                     {% csrf_token %}
                     {{ form }}
                      <input type="submit" value="Join">
                        </form>
                        <a href="{{ play.get_absolute_url }}">NOT JOIN</a>
                </div>
            </div>
        </div>

{% endblock content %}